.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content:space-between;
}


.nav__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: darkseagreen;
}

.nav__logo {
  width: 6%;
  font-size: 0.75rem;
  padding: 20px;
}

.nav__ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  font-size: 1.5rem;
}

nav a{
  height: 100%;
  text-decoration: none;
}

.nav__link {
  text-decoration: none;
  color: black;
}

.nav__link--active {
  color: rgb(179 64 64);
}

.misdemean__container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 3fr 4fr 0.5fr;
  padding-top: 30px;

}

.misdemean__item {
  padding: 1em;
  display: inline-grid;
  align-content: center;
  justify-content: center;
  border-right: 2px solid;
}

.misdemean__item:nth-child(4n) {
  border-right: 0;
}

.item--title {
  font-size: 1.25rem;
  background: beige;
}

.misdemean__item--citizenId {
  grid-column: 2;
    
}

.footer {
	line-height: 1.5rem;
}

.footer h6 {
  margin: 0 auto;
}

.footer h4 {
  margin: 0 auto;
}
